In [1]:
import pandas as pd
screen_time = [2,3,4,7]
sleep_hours = [4,7,10,11]
stu_name = ["Jayesh","Jc","Sunil","Tarun"]
dict1 = {
  "screen_time":screen_time,
  "sleep_hours":sleep_hours,
  "stu_name":stu_name
}

df = pd.DataFrame(dict1)
print(df)

   screen_time  sleep_hours stu_name
0            2            4   Jayesh
1            3            7       Jc
2            4           10    Sunil
3            7           11    Tarun

In [2]:
dict1 ={ 'Customer_id':[1,2,3,4,5,6],'Product':['Television','er','evision','Televi','Tesion','Teln']}
dict2 ={'Customer_id':[2,4,6,8],'State':['California','California','Texas','Texas']}
df1=pd.DataFrame(dict1)
df2=pd.DataFrame(dict2)
df1,df2

(   Customer_id     Product
 0            1  Television
 1            2          er
 2            3     evision
 3            4      Televi
 4            5      Tesion
 5            6        Teln,
    Customer_id       State
 0            2  California
 1            4  California
 2            6       Texas
 3            8       Texas)

In [3]:
inner_join=pd.merge(df1,df2,on='Customer_id',how='inner')
outter_join=pd.merge(df1,df2,on='Customer_id',how='outer')
outter_join,inner_join

(   Customer_id     Product       State
 0            1  Television         NaN
 1            2          er  California
 2            3     evision         NaN
 3            4      Televi  California
 4            5      Tesion         NaN
 5            6        Teln       Texas
 6            8         NaN       Texas,
    Customer_id Product       State
 0            2      er  California
 1            4  Televi  California
 2            6    Teln       Texas)